
@font-face {
  font-family: 'mario_kart_dsregular';
  src: url('../mariofont/supermario256-webfont.woff2') format('woff2'),
       url('../mariofont/supermario256-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not([disabled]) {
  cursor:pointer;
}



/* HELE PAGINA */

body {
  background-color:rgb(68, 183, 221);
  height:100%;
  margin:0; 

  background-size: cover;

}

body.J1988{
  background-image: url(../foto/nr1.png);

}

body.J1990{
  background-image: url(../foto/nr2.png);

}

body.J1996{
  background-image: url(../foto/nr3.png);

}

body.J2001{
  background-image: url(../foto/nr4.png);

}

body.J2008{
  background-image: url(../foto/nr5.png);

}





/* DE TITEL */
h1 {
  color:crimson;
  text-align: center;
  font-family: 'mario_kart_dsregular';


}



/* LIJSTJE */
ol{
  display: flex;
  /* background-color: blue; */
  list-style-type: none;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  bottom: 0;

  
}

li {
  position: relative;
  /* background-color: red; */

  display:flex;
  flex-direction: column-reverse;
  align-items: center;


}

li button {
  margin-top:1em;
  font-family: 'mario_kart_dsregular';
color: red;

  background:none;
  border:none;
}




/**********/
/* PIJPEN (div) */
/**********/

/* PIJP (VERANDEREN ZOALS MARIO!!!!) */
.pijp{
  
  width: 10em;
  display: grid; 
  justify-items: center;
  ;
}

.pijp div:first-of-type {
  height: 2em;
  width: 7em;
  background-color: violet;
  border-radius: 100%;
  z-index: 100;
  }

.pijp div:nth-of-type(2){
  height: 4em;
  width: 7em;
  background-color: rgb(68, 183, 0);  
  background-image: linear-gradient(to left,rgb(68, 183, 0),whitesmoke,rgb(68, 183, 0) 130%);
  border-radius:  10px  10px  20px  20px;
  margin-top: -1.5em;

  display:grid;
  place-items: center;
}

.pijp div:last-of-type{
  height: 7.5em;
  width: 5em;
  background-image: linear-gradient(to right,rgb(68, 183, 0),whitesmoke,rgb(68, 183, 0) 80%);
  border-radius:  0px 0px  10px  10px;
  /*   box-shadow: inset 2em 0.1em 3em; */
  color:rgb(68, 183, 0);
}
}



/* PIJP 1 */
.pijp1 { 
 }

  .pijp1 div:first-of-type {
  }
  .pijp1 div:nth-of-type(2){
  }
  .pijp1 div:last-of-type{
    
}


/* PIJP 2*/
.pijp2 { 
}

  .pijp2 div:first-of-type{
  }
  .pijp2 div:nth-of-type(2){
  } 
  .pijp2 div:last-of-type{
}


/* PIJP 3*/
.pijp3 { 
}

  .pijp3 div:first-of-type{
  }
  .pijp3 div:nth-of-type(2){
  }
  .pijp3 div:last-of-type{
}


/* PIJP 4*/
.pijp4 { 
}

  .pijp4 div:first-of-type{
  }
  .pijp4 div:nth-of-type(2){
  }
  .pijp4 div:last-of-type{
}



/* PIJP 5*/
.pijp5 { 
}

  .pijp5 div:first-of-type{
  }
  .pijp5 div:nth-of-type(2){
  }
  .pijp5 div:last-of-type{
  }



/****************/
/* AFBEELDINGEN */
/****************/
.mario {
  display: block;
  z-index: 200;
  width: 6em;
  animation-duration: 5s;
  animation-iteration-count: 1;
  margin-bottom:-1.5em;

  transform-origin: center bottom;
  transform: scale(0);
  transition-duration: 1s;
}

.mario.ikBenEr {
  transform: scale(1);
  
}

.mario1 {
  
}

.mario2 {

}

.mario3 {
  width: 7em;
}
 
  
.mario4 {
  width: 7em;
}

.mario5 {
  width: 7em;
}



background-image: url(../foto/mario\ background\ .jpeg) ;
  background-position: center;
  background-size: center